<script type="text/javascript">
function validateField(input){
  if(input.value.length < 1){
    // input.style.display = "is-invalid";
    input.className = "form-control is-invalid";
  }else if(input.type == "email"){
    if(input.value.indexOf("@") != -1 && input.value.indexOf(".") != -1){
      input.className = "form-control is-valid";
    }else{
      input.className = "form-control is-invalid";
    }
    else if(input.type == "checkbox"){
      if(input.value == ""){
        input.className = "form-check-input is-invalid";
      }else{
        input.className = "form-check-input is-valid";
      }
    }
  }else{
    input.className = "form-control is-valid";
  }
}
</script>
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create an Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action='/signup' method='POST'>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="fullname">Full Name</label>
              <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Full Name" onblur="validateField(this)" required>
              <div class="invalid-feedback">
                Please enter your full name.
              </div>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="email">Email Address</label>
              <div class="input-group">
                <input type="text" class="form-control" id="email" name="email" placeholder="email@example.com" aria-describedby="inputGroupPrepend3" onblur="validateField(this)" required>
                <div class="invalid-feedback">
                  Please enter a valid email address.
                </div>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" onblur="validateField(this)" required>
              <div class="invalid-feedback">
                Please enter your password.
              </div>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" name="city" placeholder="City" onblur="validateField(this)" required>
              <div class="invalid-feedback">
                Please provide a valid city.
              </div>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="state">State</label>
              <input type="text" class="form-control" id="state" name="state" placeholder="State" onblur="validateField(this)" required>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="zip">Zip</label>
              <input type="text" class="form-control" id="zip" name="zip" placeholder="Zip" onblur="validateField(this)" required>
              <div class="invalid-feedback">
                Please provide a valid zip.
              </div>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck3" required>
              <label class="form-check-label" for="invalidCheck3">
                Agree to terms and conditions
              </label>
              <div class="invalid-feedback">
                You must agree before creating an account.
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Create Account</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
