<div class="bs-stepper">
  <div class="bs-stepper-header" role="tablist">
    <!-- TOTAL BUDGET HEADER -->
    <div class="step" data-target="#create-part">
      <button type="button" class="step-trigger" role="tab" aria-controls="create-part" id="create-part-trigger">
        <span class="bs-stepper-circle">1</span>
        <span class="bs-stepper-label">Create Budget</span>
      </button>
    </div>
    <!-- END TOTAL BUDGET HEADER -->
    <div class="line"></div>
    <!-- BUDGET BREAKDOWN HEADER -->
    <div class="step" data-target="#breakdown-part">
      <button type="button" class="step-trigger" role="tab" aria-controls="breakdown-part" id="breakdown-part-trigger">
        <span class="bs-stepper-circle">2</span>
        <span class="bs-stepper-label">Budget Breakdown</span>
      </button>
    </div>
    <!-- END BUDGET BREAKDOWN HEADER -->
    <div class="line"></div>
    <!-- CONFIRM BUDGET HEADER -->
    <div class="step" data-target="#confirm-part">
      <button type="button" class="step-trigger" role="tab" aria-controls="confirm-part" id="confirm-part-trigger">
        <span class="bs-stepper-circle">3</span>
        <span class="bs-stepper-label">Confirm Budget</span>
      </button>
    </div>
    <!-- END CONFIRM BUDGET HEADER -->
  </div>
  <div class="bs-stepper-content">
    <!-- TOTAL BUDGET CONTENT -->
    <div id="create-part" class="content" role="tabpanel" aria-labelledby="create-part-trigger">
        <form>
          <center>
          <div class="col-md-8 mb-3">
            <label for="validationServerUsername">Total Budget</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="total-budget-input">$</span>
              </div>
              <input type="text" class="form-control" id="validationServerTotalBudget" placeholder="1,000.00" aria-describedby="total-budget-input" required>
              <div class="invalid-feedback">Please enter your total budget.</div>
              <div class="valid-feedback"></div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Next</button>
        </center>
      </form>
  </div>
  <!-- END TOTAL BUDGET CONTENT -->
  <!-- BUDGET BREAKDOWN CONTENT -->
  <div id="breakdown-part" class="content" role="tabpanel" aria-labelledby="breakdown-part-trigger">
  </div>
  <!-- END BUDGET BREAKDOWN CONTENT -->
  <!-- CONFIRM CONTENT -->
  <div id="confirm-part" class="content" role="tabpanel" aria-labelledby="confirm-part-trigger">
  </div>
  <!-- END CONFIRM CONTENT -->
</div>
</div>
<script type="text/javascript">
$(document).ready(function () {
  var stepper = new Stepper($('.bs-stepper')[0])
})
</script>
