<form id="budgetForm" action="">

  <h1>Create a Budget</h1>

  <!-- Indicators -->
  <div class="row stepper-header">
    <div class="col-2">
      <span class="step-circle">1</span><br />
      <span>Enter Budget</span>
    </div>
    <div class="stepper-line col-2"></div>
    <div class="col-4">
      <span class="step-circle">2</span><br />
      <span>Budget Breakdown</span>
    </div>
    <div class="stepper-line col-2"></div>
    <div class="col-2">
      <span class="step-circle">3</span><br />
      <span>Finish</span>
    </div>
  </div>

  <!-- One "tab" for each step in the form: -->
  <div class="tab">
    <p>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input id="totalBudget" type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="e.g. 1000">
        <div class="input-group-append">
          <span class="input-group-text">.00 /month</span>
        </div>
      </div>
    </p>

  </div>

  <div class="tab">
    {{>budget_breakdown}}
  </div>

  <div class="tab">
    <div class="row">
      <div class="container">
        <center>
          <h3>Confirm your Budget</h3>
          <hr />
          <div class="col-12">
            <h4>Bills</h4>
            <p id="billsDisplay"></p>
            <h4>Food</h4>
            <p id="foodDisplay"></p>
            <h4>Gas</h4>
            <p id="gasDisplay"></p>
            <h4>Savings</h4>
            <p id="savingsDisplay"></p>
            <h4>Fun</h4>
            <p id="funDisplay"></p>
          </div>
          <!--
          <p>
            Bills, food, gas, savings, fun
          </p>
          -->
        </center>
      </div>
    </div>
  </div>

  <div style="overflow:auto;">
    <div style="float:right;">
      <button class="btn btn-secondary" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
      <button class="btn btn-success" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
    </div>
  </div>

</form>

<script type="text/javascript">
var totalBudgetInput = document.getElementById('totalBudget');
var budgetAmt=0, billAmt=0, foodAmt=0, gasAmt=0, savingsAmt=0, funAmt=0;
var billInput = document.getElementById('inputBillsAmount');
var foodInput = document.getElementById('inputFoodAmount');
var gasInput = document.getElementById('inputGasAmount');
var savingsInput = document.getElementById('inputSavingsAmount');
var funInput = document.getElementById('inputFunAmount');

var nextBtn = document.getElementById('nextBtn');

var billsDisplay = document.getElementById('billsDisplay');
var foodDisplay = document.getElementById('foodDisplay');
var gasDisplay = document.getElementById('gasDisplay');
var savingsDisplay = document.getElementById('savingsDisplay');
var funDisplay = document.getElementById('funDisplay');


function getTotalBudget() {
  totalBudget = totalBudgetInput.value;
}

function updateBudget() {
  getTotalBudget();
  billAmt = (billInput.value*0.01)*totalBudget;
  foodAmt = (foodInput.value*0.01)*totalBudget;
  gasAmt = (gasInput.value*0.01)*totalBudget;
  savingsAmt = (savingsInput.value*0.01)*totalBudget;
  funAmt = (funInput.value*0.01)*totalBudget;

  billsDisplay.innerHTML = "$"+billAmt;
  foodDisplay.innerHTML = "$"+foodAmt;
  gasDisplay.innerHTML = "$"+gasAmt;
  savingsDisplay.innerHTML = "$"+savingsAmt;
  funDisplay.innerHTML = "$"+funAmt;
}

nextBtn.addEventListener("click", updateBudget);


</script>
