<html>
<head>
  <meta charset="utf-8">
  <title>Enter Transaction - PocketBudget</title>
  {{>global_links}}
</head>
<body>
  <!-- HEADER -->
  {{>navbar2}}
  <!-- END HEADER -->
  <section class="fit-minimum hero-overlay d-flex align-items-center jarallax">
    <div class="container">
      <div class="card">
        <div class="card-body px-5">
          <form id="transForm" action="/submitTransaction" method="POST">
            <center><h1>Enter Transaction</h1>
            <hr />
            <h3>Category</h3>
            <select class="form-control" name="transCategory" id="transCategory">
              <option>Bills</option>
              <option>Food</option>
              <option>Gas</option>
              <option>Savings</option>
              <option>Fun</option>
            </select>
            <br />
            <h3>Amount</h3>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input name="transAmount" id="transAmount" type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="e.g. 50">
            </div>
            <br />
            <h3>Description</h3>
            <div class="input-group mb-3">
              <input name="transDesc" id="transDesc" type="text" class="form-control" aria-label="Description" placeholder="e.g. Walmart - Groceries">
            </div>
            <button type="submit" class="btn btn-success">Add Transaction</button>
            </center>
          </form>
        </div>
      </div>
    </div>
    <img class="jarallax-img opacity-75" src="https://images.unsplash.com/photo-1504983376254-592a0ea9b0cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3291&q=80">
  </section>
  <!-- FOOTER -->
  {{>footer}}
  <!-- END FOOTER -->
  <script type="text/javascript">
  jarallax(document.querySelectorAll('.jarallax'));
  </script>
</body>
</html>
