<html>
<head>
  <meta charset="UTF-8">
  <title>Transactions - PocketBudget</title>
  {{>global_links}}
</head>

<body>
  <!-- HEADER calls navbar.hbs-->
  {{>navbar2}}
  <!-- END HEADER -->

  <!-- Start View Transactions -->
  <section class="h-100 hero-overlay d-flex jarallax pt-5">
    <div class="container transactions-bg mt-5 mb-5">
      <div class="row justify-content-center pb-5">
        <h1>Transactions</h1>
      </div>

      <div class="row px-5">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Description</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            {{#each result}}
            <tr>
              <td>{{this.transaction_id}}</td>
              <td>{{this.description}}</td>
              <td>${{this.amount}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

    </div>
    <img class="jarallax-img opacity-75" src="https://images.unsplash.com/photo-1504983376254-592a0ea9b0cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3291&q=80">
  </section>
  <!-- END View Transactions -->


  <!-- FOOTER calls footer.hbs-->
  {{>footer}}
  <!-- END FOOTER -->

  <script type="text/javascript">
  jarallax(document.querySelectorAll('.jarallax'));
  </script>
</body>
</html>
