html {
  scroll-behavior: smooth;
}

a {
  color: #28a745;
}

/* HORIZONTAL RULE STYLES */
hr.dashed {
    border-top: 2px dashed #999;
}
hr.dotted {
    border-top: 2px dotted #999;
}
hr.solid {
    border-top: 2px solid #999;
}
hr.big_margin {
  margin-top: 5em;
  margin-bottom: 5em;
}
hr.medium_margin {
  margin-top: 2em;
  margin-bottom: 2em;
}
hr.hr-text {
  position: relative;
    border: none;
    height: 1px;
    background: #999;
}
hr.hr-text::before {
    content: attr(data-content);
    display: inline-block;
    background: #fff;
    font-weight: bold;
    font-size: 0.85rem;
    color: #999;
    border-radius: 30rem;
    padding: 0.2rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* END HORIZONTAL RULES STYLES */

.jumbotron {
  margin-bottom: 0;
  padding-top: 3em;
}

.hero-overlay {
  background: #28a745;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #000000;
}

.opacity-75 {
  opacity: 0.75;
}

.bg-white {
  padding-top: 2em;
  padding-bottom: 2em;
}

.bg-success {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #28a745;
  color: #FFFFFF;
}
.bg-success hr.solid {
    border-top: 2px solid #999;
    border-color: #FFFFFF;
}
